@typeparam T        where T : BaseData
@inherits AutoFormBase<T>
@inject ILiteDatabaseAsync DocumentStore
@inject AutoTableItemAddedService ItemAddedService

<MudDialog Style="width: 100%; overflow: auto">
    <DialogContent>
        <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <MudForm Model="@Model" Style="overflow: auto; height: 100%">
                <AutoFields Model="@Model" @ref="AutoFields" Options="Options"/>
            </MudForm>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="d-flex justify-end" ButtonType="ButtonType.Submit" Disabled="Loading" OnClick="OnValidSubmit">
            @if (Loading)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Salvando ...</MudText>
            }
            else
            {
                @if (AutoFields?.EditMode ?? false)
                {
                    <div>Salvar</div>
                }
                else
                {
                    <div>Criar</div>
                }
            }
        </MudButton>
    </DialogActions>
</MudDialog>